<% form_for @blog_post do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.tbbce :body %>
  </p>
  <p>
    <%= f.label :tag_names %><br />
    <%= f.text_field :tag_names %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
