<% title "Blog Posts" %>

<%= link_to(image_tag("icons/newspaper_add.png"), new_blog_post_path) %>

<% for blog_post in @blog_posts %>
	<h1><%= blog_post.title %> <%= link_to(image_tag("icons/pencil.png"), edit_blog_post_path(blog_post)) if can? :edit, blog_post %></h1>
	Written by <%= blog_post.user.username %> at <%= blog_post.created_at %><br />
	<br />
	<% sum=blog_post.body.tbbc.summerize %>
	<%= sum.first %>
	<% if sum.last then %>
	<%= link_to "Read More...", blog_post_path(blog_post) %><br /><br />
	<% end %>
<% end %>
