<% title @blog_post.title %>

<h1><%= @blog_post.title %> <%= link_to(image_tag("icons/pencil.png"), edit_blog_post_path(@blog_post)) if can? :edit, @blog_post %> <%= link_to(image_tag("icons/cross.png"), @blog_post, :confirm => 'Are you sure?', :method => :delete) if can? :destroy, @blog_post %></h1>

<%= @blog_post.body.tbbc %>

<h2><%= @blog_post.blog_comments.count %> Comments</h2>

<% @blog_post.blog_comments.each do |comment| %>
	<h3><%= comment.user.username %></h3>
	<%= comment.body %>
<% end %>

<% if can? :new, BlogComment %>
	<% form_for [@blog_post, BlogComment.new] do |f| %>
		<p>
			<%= f.label :body, "New Comment" %><br />
			<%= f.text_area :body %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
		</p>
		<p><%= f.submit "Add Comment" %></p>
	<% end %>
<% end %>
